body {
  height: 100%;
  width: auto;
}
.container {
  display: flex;
  justify-content: center;
}
.col-8 {
  width: 670px;
}
.error-message {
  color: red;
  font-weight: bold;
}
.form-inline input.error {
  border-color: 2px solid red;
}
.form-inline select.error {
  border-color: 2px solid red;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex: 1, 1, auto;
}
.form-inline label {
  width: 100px;
}
.form-inline input {
  width: 400px;
  border: 2px;
  border-style: inset;
  border-radius: 8px;
  outline-width: thin;
  padding: 5px;
  margin: 10px 5px 10px 0;
  background-color: #f1f1f1;
}
.search-input {
  width: 30%;
  border: 2px;
  border-style: inset;
  border-radius: 8px;
  outline-width: thin;
  padding: 5px;
  margin: 10px 5px 10px 0;
  background-color: #f1f1f1;
}
.form-inline select {
  padding: 5px;
  margin: 10px 5px 10px 0;
  border: 2px;
  border-style: inset;
  border-radius: 8px;
  width: 414px;
  background-color: #f1f1f1;
}
.button {
  width: 100px;
  height: 35px;
  background-color: #3a92d6;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  border: 2px;
  border-style: outset;
  font-family: Arial, Helvetica, sans-serif;
}
/* .form-inline input[type="file"] {
} */
.form-inline label {
  margin: 5 20px 0 0;
}
#review-table {
  width: 98%;
  overflow: auto;
}
.thead {
  background-color: black;
  color: white;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
th,
td {
  padding: 15px;
  text-align: left;
  text-align: center;
}
.btn {
  display: flex;
  width: 285px;
  float: right;
}
.submit-btn {
  background-color: #31cc36;
  width: 60px;
}
.reset-btn {
  background-color: #e3a92d;
  width: 60px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.back-to-list {
  width: 820px;
  justify-content: right;
  margin-top: 35px;
  font-family: Georgia;
}

.back-to-list button {
  font-size: small;
  font-weight: bold;
  color: white;
  width: 200px;
}

#table-div {
  overflow-x: auto;
  position: relative;
  display: none;
}

.update-btn {
  background-color: #0ea5c7;
}

.delete-btn {
  background-color: #b52b09;
}
